body {
    background-color: black;
    text-align: center;
}

h1 {
    color: white;
}

.ball {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: 150px auto;
    font-size: 22px;
    font-weight: bold;
    transition: 0.5s;
}

.ball1 {
    background-color: lightblue;
}

.ball2 {
    background-color: aquamarine;
}

.ball3 {
    background-color:firebrick;
}